@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lalezar&family=Lobster&family=Ms+Madi&family=Open+Sans:wght@300&family=Playfair+Display+SC&family=Raleway:wght@100&family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    background-color: whitesmoke;
}
header {
    width: 100%;
    height: 100vh;
background: url(../photo/floor.jpg) center/contain;
background-repeat: repeat;    
display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.themnail-header-fes {
    width: 40%;
    height: 100%;
    position: relative;
}
.themnail-logo {
    width: 45%;
}
.themnail-logo h1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 90px;
}
.logo-fes img {
    position: absolute;
    top: 10px;
    left: 10px;
    border:1px solid black ;
height: 100px;
width: 100px;
border-radius: 50%;

}
.themnail-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
}
.line-fes {
    width: 15%;
    height: 120%;
    transform: rotate(7deg);
    transform-origin: bottom;
    background: url(../photo/floor.jpg) center/cover;
}
.photoheader-fes {
width: 60%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.photoheader-fes img {
    width: 85%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.container{
    width: 100%;
}

.s-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    margin: 60px 0;
    background-color: whitesmoke;
}

.container .card{
    position: relative;
    width: 320px;
    height: 420px;
    margin: 15px;
    overflow: hidden;
    box-shadow:  0 0 10px rgb(159, 159, 159);
}

.container .card span{
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    opacity: 0.95;
background-color: rgb(0,0,0,0.8);
    z-index: 1;
    transition: width 0.5s, height 0.5s;
}

.container .card:hover span{
    width: 1000px;
    height: 1000px;
}

.container .card .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .content-1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.container .card .content-1 div{
    padding: 40px;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.2s;
}

.container .card:hover .content-1 div{
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

.s-2{
   
width: 100%;
    height: 630px;
    background: #222;
    padding: 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.main-secs1 , .main-secs2 {
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
}
.main-secs1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-secs2 {
    position: relative;
   
}

.main-secs2 .clip{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.content {
    padding: 20px;
}
.content h2  , .content-1 h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
}
.content-1 h2 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.content p ,.content-1 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.main-secs2 .clip1{
    background: url(http..s://static.tuoitre.vn/tto/i/s626/2016/03/15/7-1458007923.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 55% 0, 20% 100%, 0% 100%);
}

.main-secs2 .clip2{
    background: url(http..s://static.tuoitre.vn/tto/i/s626/2016/03/15/1-1458007856.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(55% 0, 100% 0, 45% 100%, 20% 100%);
}

.main-secs2 .clip3{
    background: url(http..s://static.tuoitre.vn/tto/i/s626/2016/03/15/2-1458007866.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 45% 100%);
}

.s-2:hover .clip{
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.s-2 .clip:hover{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.s-2 .clip .content{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 70%;
    padding: 20px;
    background: #fff;
    padding: 0;
    transition: 0.5s;
}

.s-2 .clip:hover .content{
    bottom: 0;
    opacity: 1;
}
.themnail-s-1 {
    font-size: 40px;
    background: url(../photo/bienlehoi.jpg) bottom center/cover;
}
.themnail-s-2 {
    font-size: 40px;
    background-color: #222;
    text-align: center;
    padding: 20px;
    color: whitesmoke;
    font-family: 'Anton', sans-serif;
    letter-spacing: 4px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.themnail-s-1 h1 {
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.7);
    color: whitesmoke;
    font-family: 'Anton', sans-serif;
    letter-spacing: 4px;
    text-align: center;
}
.s-3 {
    width: 100%;
    height: 630px;
    background: url(../photo/khaiman-1-16543141765491808243218.jpg);
}
.main-secs3 {
    max-width: 1280px;
 height: 100%;
    margin: 0 auto;
  background: rgb(0,0,0,0.8);
  display: flex;
  gap: 20px;
  padding: 20px;
}
.detail-phanloai {
    width: 50%;
    height: 100%;
}
.photo-phanloai {
    width: 50%;
    height: 100%;
}
.photo-phanloai img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}
.photo-phanloai ul {
    height: 10%;
    width: 100%;
display: flex;
justify-content: space-between;
margin-top: 10px;
}
.photo-phanloai ul li {
    list-style: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.button-tab {
    border: 2px solid whitesmoke;
}
.detail-phanloai h1 {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    color:#EFD345;
    letter-spacing: 3px;
}
.detail-phanloai p {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
line-height: 1.5;
}
footer{
    font-family: 'Anton', sans-serif;
    width: 100%;
    bottom: 0;
    /* background: linear-gradient(to right, #00093c, #2d0b00); */
    background-color: #EFD345;
    box-shadow: 0 0 200px #333 inset;
    color: #fff;
    padding: 100px 0 30px;
    font-size: 13px;
    line-height: 20px;
   
}

.row-footer{
 max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col-footer{
    flex-basis: 25%;
    padding: 10px;
}

.col-footer:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}

.logo{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid black;
    margin-bottom: 30px;
    background-color: whitesmoke;
}

.col-footer h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    color: #333;
}

.col-footer p{
    color: #333;
}

.đt-footer{
    width: fit-content;
    margin: 20px 0;
}

footer ul li{
    list-style: none;
    margin-bottom: 12px;
}

footer ul li a{
    text-decoration: none;
    color: #333;
}

footer form{
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #59886B;
}

form .bx-envelope{
    font-size: 18px;
    margin-right: 10px;
    color: #333;
}

form input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    color: #000;
}

form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .bx-right-arrow-alt{
    font-size: 16px;
    color: #333;
}

.social-icons .bxl-facebook, 
.social-icons .bxl-twitter, 
.social-icons .bxl-instagram, 
.social-icons .bxl-gmail{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #333;
    background: #fff;
    margin-right: 15px;
    margin-top: 20px;
    cursor: pointer;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #59886B;
    margin: 20px auto;
}

.copyright{
    text-align: center;
    color: #333;

}

.underline{
    width: 100%;
    height: 5px;
    background: #8fd1a8;
    color: #333;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span{
    width: 15px;
    height: 100%;
    background: #59886B;
    border-radius: 3px;
    position: absolute;
    color: #333;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
.viet {
    font-size: 70px;
    color: #ec4b4b;
}
.nam {
    font-size: 120px;
    color: #ec4b4b;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}
@media only screen and (max-width: 849px) {
.themnail-logo h1 {
    font-size: 40px;
}
.viet {
    font-size: 20px;
}
.nam {
    font-size: 50px;
}
.logo-fes img {
    width: 70px;
    height: 70px;
}
.line-fes {
    transform: rotate(0);
}
.themnail-s-1 h1 {
    font-size: 30px;
}
.main-secs1 {
    padding: 10px;
    flex-direction: column;
}
.container .card {
    width: 300px;
}
.themnail-s-2 {
    font-size: 17px;
}
.detail-phanloai h1 {
    font-size: 20px;
}
.detail-phanloai p {
    font-size: 11px;
}
.photo-phanloai img {
    height: 77%;
}
.photo-phanloai ul li {
    width: 30px;
    height: 30px;
}
.row-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 8px;
    row-gap: 8px;
    padding: 5px;
}
.logo {
    width: 100px;
    height: 100px;
}
.col-footer {
    padding: 0;
}
.col-footer p {
    font-size: 12px;
}
ul li {
    font-size: 12px;
}
}